body {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: ProximaNova;
    src: local("ProximaNova-Bold"), url('../font/ProximaNova-Bold.ttf');
}
#contente {
    left: 44px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0px;
    top: 16px;
    bottom: 0px;
    border-left: #dce2e9 1px solid;
    border-top: #dce2e9 1px solid;
}
#close_pril {
    position: absolute;
    top: 1px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    text-align: center;
    z-index: 200;
    right: 7px;
    font-size: 10px;
    color: #bfc8d1;
    border: 1px #bfc8d1 solid;
    border-radius: 50px;
}
#resize_pril {
    position: absolute;
    top: 1px;
    width: 12px;
    border: 1px #bfc8d1 solid;
    border-radius: 50px;
    height: 12px;
    cursor: pointer;
    z-index: 200;
    color: #bfc8d1;
    font-size: 10px;
    font-family: monospace;
    text-align: center;
    right: 25px;
}
#ls {
    position: absolute;
    left: 44px;
    top: 0px;
    height: 16px;
    width: 1px;
    border-left: #dce2e9 1px solid;
}
#panel {
    position: absolute;
    top: 0px;
    left: 46px;
    right: 50px;
    height: 15px;
    -webkit-app-region: drag;
}
#menu .header_logo {
    width: 40px;
    height: 40px;
    background: #507093;
    float: left;
}
#menu .header_logo img {
    width: 30px;
    height: 30px;
    margin: 5px;
}
#menu {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 40px;
    background-color: #5b7fa6;
}
#menu .punkt {
    width: 16px;
    height: 16px;
    margin-left: 12px;
    cursor: default;
    background-size: 16px 16px;
    margin-bottom: 24px;
    display: none;
}
#menu .user {
    background-image: url('../images/icon/home.png');
}
#menu .friend {
    background-image: url('../images/icon/user.png');
}
#menu .photo_album {
    background-image: url('../images/icon/photo.png');
}
#menu .video_album {
    background-image: url('../images/icon/video.png');
}
#menu .button_group {
    background-image: url('../images/icon/group.png');
}
#menu .audio_album {
    background-image: url('../images/icon/music.png');
}
#menu .notification {
    background-image: url('../images/icon/otvet.png');
}
#menu .news {
    background-image: url('../images/icon/news.png');
}
#menu .settings {
    background-image: url('../images/icon/settings.png');
}
::-webkit-scrollbar {
    width: 0px;
}
/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px #f1f1f1;
    border-radius: 0px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #BBBBBB;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #BBBBBB;
}
#auth_form {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 99999;
}
#content {
    width: 100%;
    height: 100%;
}
a {
    color: #2C93E0;
    text-decoration: none;
    cursor: pointer;
}
.dialogs_row {
    cursor: pointer;
    padding: 2px 1px 2px 0px;
    border-top: #fff 3px solid;
    border-bottom: #dce2e9 1px solid;
}
.dialogs_new_msgs {
    background: rgba(99, 131, 168, 0.1);
}
.dialogs_photo {
    width: 50px;
    padding: 5px 5px 2px;
    vertical-align: top;
}
.dialogs_photo img[id^="id_"] {
    border-radius: 100%;
    border: 2px solid #fff;
}
.dialogs_info {
    vertical-align: middle;
    top: 7px;
    width: 100%;
    position: relative;
}
.dialogs_user {
    width: 120px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 11px;
    position: absolute;
    top: 4px;
}
.dialogs_online {
    width: 11px;
    height: 11px;
    border-radius: 10px;
    position: relative;
    margin-top: -15px;
    margin-left: 37px;
}

.nabor_dialogs {
    position: relative;
    width: 15px;
    height: 10px;
    top: -2px;
    left: 34px;
    margin-top: -14px;
}
.dialogs_date {
    color: #999999;
    font-size: 0.7em;
    position: absolute;
    top: -6px;
    right: 1px;
}
.dialogs_date img {
    width: 7px;
}
.dialogs_msg_body {
    display: block;
    margin-top: 5px;
}
/* -----------------------------------------------*/

.dialogs_msg_text {
    color: #67829E;
    line-height: 160%;
    width: 100%;
}
#messages_form {
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 0px;
    position: absolute;
    top: -2px;
    width: 28%;
    border-right: #dce2e9 1px solid;
    z-index: 60;
}
.dialogs_row_over {
    border-top: rgb(99, 131, 168) 2px solid;
    background-color: rgba(99, 131, 168, 0.1);
}
#messages {
    background-color: #fcfcfd;
    position: absolute;
    top: 0px;
    left: 28%;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 61px;
    display: none;
    border-left: #f1f4f7 4px solid;
}
.im_log_author {
    width: 32px;
}
.lala {
    width: 100%;
}
div.im_log_author_chat_thumb {
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-align: right;
    border-radius: 50%;
}
.im_log_body {
    background: #f9fafc;
    padding: 4px;
    min-width: 63px;
}
.im_log_author_chat_name {
    padding-bottom: 2px;
    color: #777;
}
.im_log_date {
    color: #999;
    font-size: 9px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida sans;
}
#send_messages {
    display: none;
    position: absolute;
    left: 28%;
    right: 0px;
    height: 43px;
    bottom: 0px;
    padding: 9px;
    background: #f5f7fa;
    box-shadow: 0 10px 4px -11px #C9BBBB inset;
    border-left: #CCC9C9 1px solid;
    border-top: #5b7fa6 1px solid;
}
#text_messages {
    position: inherit;
    top: 11px;
    bottom: 11px;
    left: 20px;
    right: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    border-top: 1px solid rgb(192, 202, 213);
    border-left: 1px solid rgb(192, 202, 213);
    border-bottom: 1px solid rgb(192, 202, 213);
}
#new_messages {
    position: absolute;
    color: #fff;
    right: 5px;
    top: 5px;
}
#txt_smile {
    border-top: 1px solid rgb(192, 202, 213);
    border-right: 1px solid rgb(192, 202, 213);
    border-bottom: 1px solid rgb(192, 202, 213);
    width: 79px;
    height: 37px;
    position: absolute;
    top: 11px;
    right: 20px;
}
a#open_new_messages {
    color: #fff;
}
#online_user {
    position: absolute;
    top: 17px;
    left: 60px;
    color: #fff;
    font-size: 9px;
}
#friend_form {
    position: absolute;
    top: 0px;
    left: -228px;
    width: 330px;
    bottom: 0px;
    z-index: 100;
    background: #4A6583;
    box-shadow: 0px -5px 10px #000;
    display: none;
}
#friend {
    position: absolute;
    top: 71px;
    left: 115px;
    bottom: 0px;
    right: 1px;
    overflow-y: inherit;
    overflow-x: hidden;
    padding-left: 5px;
}
.user_block_avatar img {
    margin-top: 5px;
    border-radius: 50%;
    border: 1px solid #425A76;
}
#friend_menu {
    opacity: 0;
    background-color: #E1E7ED;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 0px;
}
#user_block,
#user_block_new {
    height: 60px;
    padding: 2px 2px 2px 5px;
}
.user_block_avatar,
#user_block_avatar_new {
    position: relative;
    height: 60px;
    widows: 60px;
    overflow: hidden;
}
#user_block_name {
    position: relative;
    height: 16px;
    width: 153px;
    overflow: hidden;
    left: 55px;
    top: -49px;
    z-index: 100;
    font-weight: bold;
    font-size: 11px;
}
#user_block_time {
    position: relative;
    height: 17px;
    overflow: hidden;
    left: 55px;
    top: -49px;
    color: #aaa;
}
#user_block_messages {
    position: relative;
    top: -53px;
    left: 56px;
    width: 22px;
    opacity: 0.8;
}
.fri {
    background-image: url('../images/user-128.png');
    width: 30px;
    height: 30px;
    background-size: 160px;
    display: inline-block;
    clear: both;
}
#button_all_friend {
    cursor: pointer;
    background-position-x: 0px;
}
#button_all_friend_onlline {
    cursor: pointer;
    background-position-x: 127px;
}
#button_friend_search {
    cursor: pointer;
    background-position-x: 255px;
}
#button_friend_remove {
    cursor: pointer;
    background-position-x: 159px;
}
#friend_search_pole {
    display: block;
    height: 31px;
    margin-top: -28px;
    margin-left: 65px;
}
#friend_search_pole input {
    width: 145px;
    font-size: 12px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.94);
    padding: 2px 2px;
    outline: none;
    color: #5C5C5C;
}
.search_button {
    position: absolute;
    right: 0px;
    top: 0px;
}
.search_input {
    display: none;
    position: absolute;
    top: -1px;
    width: 328px;
    left: 0px;
    border: none;
    outline: none;
    background: #fff;
    height: 1px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}
#user_menu {
    position: absolute;
    width: 151px;
    height: 55px;
    top: 0px;
    left: 0px;
    border-bottom-width: 0px;
}
#search_video .search_video {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    height: 71px;
    padding: 4px;
    background-color: #f1f4f7;
}
#search_video_control {
    position: absolute;
    background-color: #fff;
    height: 40px;
    left: 3px;
    right: 3px;
}
#search_video .search_input_video {
    width: 100%;
    border: none;
    outline: none;
    background: #fff;
    height: 0px;
    margin: 0;
    z-index: 10;
    padding: 19px 13px 20px 13px;
    font-family: inherit;
    font-size: 20px;
    color: #C3C5C7;
}
#search_video .search_button_video {
    position: absolute;
    right: 0px;
    top: 0px;
}
#search_video .search_video_list {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 87px;
    background: #FFFFFF;
    padding: 2px;
    overflow: hidden;
    overflow-y: auto;
}
.video_row_cont {
    display: inline-block;
    height: 177px;
    width: 222px;
    padding: 0px 5px 8px 0px;
    cursor: pointer;
}
.video_row_inner_cont {
    height: 178px;
    width: 221px;
}
.video_row_info_line {
    position: absolute;
    margin-top: 150px;
    width: 205px;
    padding: 6px 8px;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    height: 16px;
}
.video_raw_info_name {
    padding-right: 34px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 16px;
    overflow: hidden;
    line-height: 16px;
    -webkit-user-select: text;
}
.video_row_duration {
    position: absolute;
    bottom: 7px;
    right: 7px;
    font-weight: bold;
}
.video_row_info_play {
    position: absolute;
    z-index: 10;
    background: url('../images/inline-video-play.png') no-repeat;
    margin-left: 93px;
    margin-top: 58px;
    width: 46px;
    height: 46px;
}
.video_image_div {
    display: block;
    background: #000000 center center no-repeat;
    width: 221px;
    height: 178px;
}
#search_video_cheked {
    position: absolute;
    top: 50px;
    right: 9px;
}
#search_group_control {
    background-color: #f1f4f7;
    height: 40px;
    top: 2px;
    display: -webkit-inline-box;
    position: absolute;
    padding: 4px;
    left: 2px;
    right: 2px;
}
#search_group .search_input_group {
    width: 100%;
    border: none;
    outline: none;
    background: #fff;
    height: 0px;
    margin: 0;
    z-index: 10;
    padding: 19px 13px 20px 13px;
    font-family: inherit;
    font-size: 20px;
    color: #C3C5C7;
}
#search_group #search_group_pole {
    position: absolute;
    left: 3px;
    right: 70px;
    height: 40px;
}
#search_group .search_button_group {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 40px
}
.search_button_group > img {
    width: 40px;
    height: 39px;
}
#search_group .group_list {
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 56px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    float: right;
}
.group_list_row {
    padding: 5px 9px;
    background: #F9F9F9;
    display: inline-flex;
    float: left;
    width: 43%;
    margin: 6px;
    border: 1px #EFECEC solid;
    text-align: center;
    cursor: pointer;
}
.group_row_photo {
    height: 70px;
    width: 70px;
}
.group_row_photo > img {
    width: 70px;
    height: 70px;
}
.group_row_info {
    padding-left: 10px;
    width: 350px;
    overflow: hidden;
    color: #777777;
    float: left;
    text-align: left;
}
.group_row_labeled {
    margin-bottom: 3px;
}
#wall,
#news,
#search_group,
#search_video {
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 28%;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    border-left: #f1f4f7 4px solid;
}
#news #track{
    width: auto;
    padding-right: 9px;
}
#wall #track {
    width: 200px;
    padding-right: 9px;
}
#wall #track .track_title,#news #track .track_title  {
    margin-top: 8px;
}

#news{
    background-color: #f1f4f7;
}
.wall_post_over {
    display: block;
    padding: 2px 0px 1px;
    position: relative;
    margin-bottom: 5px;
    margin-top: 1px;
    border-top: 1px solid #F1F1F1;
    background-color: #fff;
}
#panel_load {
    position: absolute;
    top: 143px;
    width: 130px;
    height: 470px;
    display: none;
    margin-top: 7px;
}
.post_table {
    position: relative;
    width: 100%;
    margin-left: 2px;
}
.post_image {
    padding: 5px 0;
    position: absolute;
    top: 0;
    width: 50px;
}
.post_info {
    margin-left: 60px;
    padding: 0 0 2px;
    min-height: 60px;
}
.wall_text {
    padding: 5px 0px 0px 4px;
    margin-left: -4px;
    white-space: break-word;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: relative;
}
.wall_text_name {
    width: 305px;
    overflow: hidden;
    color: #2C93E0;
    font-weight: bold;
}
.wall_post_text {
    width: 99%;
    overflow: hidden;
    word-wrap: break-word;
    padding-top: 2px;
    padding-bottom: 1px;
    line-height: 140%;
    -webkit-user-select: text;
}
.wall_attachments {
    width: 99%;
    display: inline-block;
}
.media_desc {
    padding: 4px 0px 2px;
}
.lnk {
    color: #777;
    cursor: pointer;
}
.media_desc b {
    background: url(../images/mono-iconset.png?1) no-repeat left -237px;
    width: 15px;
    height: 11px;
    margin-top: 3px;
}
.media_desc .a {
    color: #2C93E0;
    word-wrap: break-word;
}
.reply_link_wrap {
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 10px;
}
.divide {
    color: gray;
    font-weight: normal;
    padding: 0px 4px;
}
.delete_post {
    background: url(../images/del.gif) 0 0 no-repeat;
    cursor: pointer;
    height: 11px;
    width: 11px;
    position: absolute;
    top: 7px;
    right: 6px;
    opacity: 0;
    z-index: 100;
}
.published_by_wrap {
    margin: 5px 0 5px;
}
.published_by_title {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 288px;
    overflow: hidden;
    color: #2C93E0;
    font-weight: bold;
}
.published_by_date {
    padding-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    color: #777;
}
.im_msg_text {
    font-family: tahoma, arial, verdana, sans-serif, Lucida sans;
    text-overflow: ellipsis;
    white-space: inherit;
    overflow: hidden;
}

.im_msg_text2 {
    font-family: tahoma, arial, verdana, sans-serif, Lucida sans;
    height: 40px;
    position: absolute;
    clip: rect(0px, 207px, 30px, 0px);
    width: 100%;
    top: 18px;
}

#user_info {
    position: relative;
    top: 3px;
    width: 100%;
    height: 139px;
    border-bottom: 1px solid #F1F1F1;
}
#user_info_all {
    position: absolute;
    width: 100%;
    height: 64px;
    top: 42px;
    color: #9A9C9B;
    border-top-style: outset;
    padding-top: 5px;
    border-top-width: 1px;
    left: 130px;
}
#user_avatar {
    width: 114px;
    height: 135px;
    margin-left: 8px;
    background-repeat: round;
}
#user_name {
    position: absolute;
    left: 130px;
    font-family: ProximaNova, arial;
    font-weight: normal;
    top: 0px;
}
#user_status {
    position: absolute;
    top: 21px;
    color: #9A9C9B;
    left: 130px;
}
#user_online {
    position: absolute;
    top: 4px;
    right: 14px;
    color: #999898;
}
#menus {
    position: absolute;
    top: 90px;
    width: 100%;
    height: 41px;
    border-bottom: 2px solid rgba(219, 219, 219, 0.46);
    font-size: 14px;
    color: #8185a0;
    font-family: fantasy;
    display: none;
}
#menus .users {
    float: left;
    padding: 11px;
    width: 60px;
    height: 17px;
    text-align: center;
}
.clicks {
    border-bottom: 5px solid rgba(99, 160, 214, 1);
}
#user_album {
    width: 130px;
    height: 87px;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
#user_album .user_album {
    width: 130px;
    height: 18px;
    position: relative;
    top: 69px;
    left: 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.33);
}
#user_album .user_album_name {
    margin-left: 3px;
}
#photo_user_album {
    width: 110px;
    height: 110px;
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}
#preloader {
    position: relative;
    top: -93px;
    display: none;
}
.mob_onl {
    width: 0px;
    height: 12px;
    padding-left: 7px;
    margin-left: 4px;
    background: url(../images/mobile-online.gif) no-repeat;
    cursor: pointer;
}
b.profile_mob_onl {
    background-position: -11px 0px;
}
#mes_photo_href {
    margin-left: 3px;
    margin-top: 3px;
    float: left;
}
#comment .open_comment {
    width: 100%;
    min-height: 15px;
    text-align: center;
    background-color: rgba(173, 173, 173, 0.48);
    color: #fff;
    cursor: pointer;
}
#comment {
    margin-top: 5px;
    width: 100%;
    min-height: 15px;
}
.reply_table {
    width: 100%;
    display: -webkit-inline-box;
    margin-bottom: 6px;
    border-top: 2px solid rgba(105, 97, 97, 0.21)
}
.reply_image {
    width: 50px;
    height: 50px;
}
.reply_info {
    margin-left: 6px;
    width: 90%;
    position: relative;
    top: -2px;
}
.likes {
    position: absolute;
    right: 4px;
    color: #999;
}
#track {
    width: 32%;
    height: 30px;
    background-color: #E0EBF5;
    margin: 2px;
    float: left;
}
#track .track_play {
    width: 17px;
    height: 17px;
    background-image: url('../images/play_mini.png');
    background-repeat: round;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 6px;
    cursor: pointer;
}
#track .track_title {
    float: left;
    color: #1C6299;
    font-size: 11px;
    margin-top: 3px;
}
#music_list #track .track_title {
    float: left;
    color: #fff;
    font-size: 11px;
}
#track .track_add,
#track .track_delete {
    display: block;
    float: right;
    margin-top: 1px;
    display: none;
    cursor: pointer; 
    margin-right: 5px;
}

#track .track_add img,
#track .track_delete img,
#track .track_download img {
   width: 10px;
}
#track .track_download {
    margin-top: 17px;
    margin-right: -10px;
    font-size: 9px;
    float: right;
    display: none;
    cursor: pointer;
}
#track .track_download a {
    color: #1C6299;
}
#player {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #424b59;
    display: none;
    padding-left: 150px;
}
#button_player {
    width: 100px;
    height: 30px;
    margin-left: 0px;
    margin-top: 5px;
    cursor: pointer;
}
#button_player .track_n {
    width: 12px;
    height: 10px;
    background-image: url('../images/track_n.png');
    margin-top: 10px;
    float: left;
}
#button_player .track_plays {
    width: 30px;
    height: 30px;
    background-image: url('../images/track_play.png');
    margin-left: 8px;
    margin-right: 8px;
    float: left;
}
#button_player .track_w {
    width: 12px;
    height: 10px;
    background-image: url('../images/track_w.png');
    float: left;
    margin-top: 10px;
}
#button_player .repeat {
    width: 12px;
    height: 14px;
    background-image: url('../images/repeat.png');
    float: left;
    margin-top: 8px;
    background-repeat: round;
    margin-left: 10px;
}
.name_music {
    height: 14px;
    width: 271px;
    color: #b1b3b8;
    position: absolute;
    top: 6px;
    left: 133px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida sans;
}
.time_music {
    color: #b1b3b8;
    position: absolute;
    top: 6px;
    left: 401px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida sans;
}
.list {
    width: 14px;
    height: 15px;
    background-image: url("../images/table.png");
    background-size: 14px 15px;
    position: absolute;
    left: 101px;
    top: 7px;
}
#scroka_time_music {
    width: 300px;
    height: 4px;
    background-color: #fff;
    margin-top: 0px;
    position: absolute;
    top: 26px;
    left: 133px;
}
#scroka_time_music .scroka_time_music {
    width: 0px;
    height: 4px;
    background-color: #78c8db;
    z-index: 3;
    position: relative;
    top: -4px;
}
#scroka_time_music .scroka_buffer_music {
    width: 0px;
    height: 4px;
    background-color: #6E8B92;
    z-index: 2;
}
#find_music {
    position: absolute;
    top: 4px;
    width: 304px;
    left: 133px;
    height: 18px;
    background-color: #EBEEF2;
    z-index: 1001;
    padding-top: 8px;
    display: none;
}
#find_music input {
    background-color: rgba(255, 255, 255, 0.94);
    color: #5C5C5C;
    border-radius: 4px;
    border: 0;
    font-size: 11px;
    padding: 2px;
    width: 297px;
    display: block;
    outline: none;
}
#send_photo {
    background-image: url('../images/doc.png');
    background-repeat: round;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 8px;
    top: 39px;
}
#send_doc {
    background-image: url('../images/photo_cam.png');
    background-repeat: round;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 4px;
    top: 20px;
}
#open_smile {
    background-image: url('../images/smile.png');
    background-repeat: round;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 4px;
    top: 2px;
}
#slider {
    border-radius: 25px;
    width: 100px;
    position: absolute;
    height: 2px;
    background-color: #fff;
    left: 441px;
    top: 20px;
}
.ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 100%;
    outline: none;
    top: -7px;
    margin-left: -12px;
}
#votes {
    margin-top: 0px;
    color: #fff;
}
#votes #question {
    display: block;
    padding: 0px;
    font-weight: bold;
    margin-bottom: 2px;
    padding: 10px;
    font-size: 11px;
    color: #000;
}
#votes div {
    font-weight: bold;
    background: #0099cc;
    margin-bottom: 3px;
    padding: 1px;
    font-size: 10px;
    color: #ffffff;
    border-left: 3px solid #333;
    border-radius: 0 1.5em 1.5em 0;
}
@media only screen and (max-width: 700px) {
    #find_music input {
        width: 120px
    }
    #messages_form {
        zoom: 90%;
        left: 56px;
        top: 56px;
    }
    #messages {
        zoom: 90%;
        left: 284px;
        top: 56px;
    }
    #send_messages {
        left: 254px;
    }
}
@media only screen and (max-width: 660px) {
    #find_music input {
        width: 95px
    }
    #messages_form {
        zoom: 80%;
        left: 62px;
        top: 62px;
    }
    #messages {
        zoom: 80%;
        left: 293px;
        top: 62px;
    }
    #send_messages {
        left: 231px;
    }
}
.send_comment {
    width: 100%;
    height: 50px;
    background-color: rgba(173, 173, 173, 0.69);
    text-align: center;
    border-top-width: 1px;
    border-top-style: groove;
}
.send_comment textarea {
    width: 99%;
    height: 30px;
    font-size: 11px;
    display: block;
}
.send_comment .button_open_send_comment {
    color: #fff;
}
.delete_comment_button {
    position: absolute;
    right: 5px;
    margin-top: 3px;
    opacity: 0;
    z-index: 1;
}
#smile {
    position: absolute;
    right: 23px;
    width: 330px;
    height: 184px;
    top: -185px;
    background-color: #fff;
    display: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    background: #FFFFFF;
}
.smiles {
    position: absolute;
    bottom: 25px;
    top: 4px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#smile img {
    margin-left: 3px;
    margin-top: 3px;
    float: left;
}
#smile .smile_tools {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 24px;
    background: #EBEEF2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.smiless {
    width: 20px;
    height: 20px;
    background-repeat: round;
    margin: 2px;
    float: left;
}
#smile .tools_smile {
    background-image: url('../images/smile.png');
}
#smile .tools_sticker {
    background-image: url('../images/sticker.png');
}
#smile .sprite {
    width: 16px;
    height: 9px;
    position: absolute;
    right: 3px;
    bottom: -9px;
    background-image: url('../images/sprite.png');
}
#smiles_fon {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
#user_block_add_friend {
    position: relative;
    top: -82px;
    left: 91px;
    font-weight: bold;
    font-size: 27px;
    color: rgba(76, 93, 114, 0.80);
}
#user_block_del_friend {
    position: relative;
    top: -113px;
    left: 121px;
    font-weight: bold;
    font-size: 27px;
    color: rgba(76, 93, 114, 0.80);
}
#post_wall {
    position: absolute;
    height: 68px;
    top: 139px;
    left: 0px;
    right: 0px;
    background-color: rgba(243, 243, 243, 1);
}
#text_post_wall {
    height: 40px;
    position: initial;
    background-color: #fff;
    margin: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(168, 168, 168);
    font-size: 10px;
    color: rgb(168, 168, 168);
}
#post_wall_loader {
    position: absolute;
    width: 100%;
    height: 56px;
    background-color: #000;
    opacity: 0.8;
    padding-top: 13px;
    text-align: -webkit-center;
    display: none;
}
.alertify-hidden {
    top: 0px;
    display: none;
}
#attachments_load {
    background-image: url('../images/photo_cam.png');
    background-repeat: round;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 6px;
    bottom: 3px;
}
#attachments_list {
    height: 17px;
    min-width: 20px;
    position: absolute;
    color: rgb(189, 192, 191);
    font-size: 9px;
    right: 25px;
    bottom: -1px;
}
#attachments_load_view {
    width: 100%;
    height: 60px;
    display: none;
    overflow-x: auto;
    overflow-y: hidden;
}
#attachments_load_view div {
    width: 60px;
    height: 60px;
    margin-left: 3px;
    background-repeat: round;
    float: left;
}
#nabor {
    display: none;
}
.riso {
    width: 100%;
    height: 13px;
    position: inherit;
    text-align: center;
}
.riso2 {
    display: none;
    color: #777;
}
#messages_attr {
    border-left-color: #ccc;
    border-left-style: solid;
    border-left-width: 2px;
}
.delete_dialog {
    display: none;
    z-index: 100;
    position: relative;
    top: 59px;
    margin-top: -17px;
    left: 4px;
    width: 15px;
}
.open_dialog_window {
    float: right;
    display: none;
    z-index: 100;
}
.open_dialog_window img {
    width: 18px;
}
.delete_dialog img {
    width: 15px;
}
#repost_wall_mess {
    border-left: 2px solid #f1f1f1;
}
.otvet_comment {} .module_header {
    display: none;
    background: #f1f1f1;
    float: left;
    width: 100%;
    margin-bottom: 7px;
}
.module_header .header_top {
    background: #DEE5EB;
    overflow: hidden;
    padding: 2px 8px;
    font-weight: bold;
    outline: none;
    color: #45688E;
}
.p_header_bottom {
    border-bottom: 1px solid #F1F1F1;
    color: #666;
    padding: 1px 8px;
    background: #F1F1F1;
    font-size: 10px;
}
#two_album #user_album {
    margin-bottom: 4px;
    margin-left: 17px;
    margin-top: 0px;
}
#two_album #user_album,
#two_album #user_album .user_album {
    width: 97px;
}
#two_video .video_row_cont,
#two_video .video_row_inner_cont,
#two_video .video_image_div {
    height: 87px;
    width: 97px;
}
#two_video .video_row_cont {
    margin-left: 17px;
    padding: 0px 0px 4px 0px;
}
#two_video .video_row_info_play {
    margin-left: 28px;
    margin-top: 11px;
}
#two_video .video_row_info_line {
    margin-top: 65px;
    width: 93px;
    padding: 3px 2px;
    font-size: 10px;
}
#sending_messages,
#new_user,
#add_user {
    padding: 5px 16px 5px 16px;
    margin: 0;
    font-size: 11px;
    cursor: pointer;
    vertical-align: top;
    line-height: 13px;
    background-color: #6383a8;
    color: #FFF;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 4px;
}
#two_video {
    border-right: 1px solid #f1f1f1;
}
#id_messagesss {
    width: 100%;
    min-height: 33px;
    margin-top: 5px;
    display: table;
    -webkit-user-select: text;
}
#dialog,#dialog_audio {
    width: 28%;
    min-height: 89px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
    position: absolute;
    background: #FFFFFF;
    display: none;
    z-index: 100;
}
#dialog .dialog_header,
#dialog_audio .dialog_header  {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 24px;
    background: #EBEEF2;
}
#dialog .dialog_content,
#dialog_audio .dialog_content {
    position: absolute;
    top: 24px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: tahoma, arial, verdana, sans-serif, Lucida sans;
}
#dialog .dialog_sprite {
    width: 16px;
    height: 9px;
    top: -9px;
    position: absolute;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAJCAYAAADQHRcxAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gscDTscqZQu7QAAAXxJREFUKM+N0TtKA2EQB/CZ+R4bkvWx6wMiikRSGRtNQrSJIEkRD+AZPJJn8AIWWlkJop1WooViYYIGEpfs97SQyCaCOOXM8GP+DLaPjvHt+YHy4Ty9PN6Ht9dX7/DP2qnvxqsbm8Nk2HfLa2VH4wExhrPRgtuuNcr/gbZrjfJstOCIMfwxsgtzcdEsFtcHe82Drb+gvebB1mJxfTAXF022jwAA5UqVllZKDACEtSZwxoSfw4+ly4uzm2mo2epUC2HUJc6HjPEUAHT39ck+3N18xyxV6t5o5Y1WjpCsCHKjwkzc328fNrLQfvuwUZiJ+yLIjQjJGq2c0cqXKnU/EVOliedCWg9eI6LmQib5MOo1W53q+KJ8GPW4kAkiag9ecyGtShM/ERMAIPtV5ywnYhIAhNEqSEefIsgVNBcyBQDtnFVEzIy/eH564iewadBoxYTMMWcNQyL0znli3Go1slxIOw39wrKgDPLIhUSjFRvPuJDWaOVVmvhpCADgC/Z8tNJz/8yAAAAAAElFTkSuQmCC');
    -webkit-transform: rotate(180deg);
}
#dialog .left {
    left: 11px;
}
#dialog .right {
    right: 11px;
}
#dialog .right_bottom {
    left: -12px;
    top: 92px;
    -webkit-transform: rotate(90deg);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAJCAYAAADQHRcxAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wEGERwlhyAyawAAAXRJREFUKM+N0TtKA2EQB/CZ+R4bkvWxaxQiRomuza5Wa7BJSq/gGTySZ/AKtrYpYxUUVCxUNJC4ZL+nhUQ2EcQpZ4Yf82fw7PwCXx5HVA/X6enuNnwYDd/hn7WbZPHOfjotpmO31U4czQfEGK5GG659kCb/gdoHabIabThiDH+M6sJa3DLN1t7k8Lh79Bd0eNw9arb2Jmtxy1T7CACQZDltbncYAAhrTeCMCT+nH5u3g5vBMpTmvbwRRq/E+ZQxXgKAfn2+t6Ph4DtmJ+t6o5U3WjlCsiKozRor8Tg76Z9Woeykf9pYicciqM0IyRqtnNHKd7KuX4ipysJzIa0HrxFRcyGLehi9pXkvn19UD6M3LmSBiNqD11xIq8rCL8QEAKh+1TnLiZgEAGG0CsrZpwhqDc2FLAFAO2cVETPzL15fXfoFbBk0WjEha8xZw5AIvXOeGLdazSwX0i5Dv7AqKIM6ciHRaMXmMy6kNVp5VRZ+GQIA+AJsJrNCvFehjQAAAABJRU5ErkJggg==');
}
#dialog_audio.audio {
    left: 40px;
    width: 100%;
    height: 40px;
    min-height: 40px;
    bottom: 0px;
}
#canvas_mus {
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 100;
}
#dialog_audio.audio .dialog_header {
    height: 40px;
    padding-left: 5px;
}
#dialog_audio.audio .dialog_content {
    top: -167px;
    position: absolute;
    height: 167px;
    background-color: #F7F5F5;
    right: 41px;
    padding-left: 16px;
    display: none;
}
#dialog.setting {
    top: 0px;
    height: 40px;
    right: 0px;
    left: 40px;
    width: auto;
    background-color: #5b7fa6;
    color: #fff;
    min-height: auto;
    height: 100px;
}
#dialog.setting .dialog_content {
    top: 3px;
    padding: 4px;
}
div#setup_key, div#startStena, div#smenUser, div#info_prog {
    width: 111px;
    padding: 6px;
    height: 64px;
    float: left;
    margin: 4px;
    border: 1px #4D749E solid;
    background: #6682A0;
}
div#info_prog{ 
    width: 232px;
    font-family: serif;
}
.new_friend {
    background: #cc0043;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: relative;
    top: -29px;
    left: 22px;
}
#dialog.friend {
    top: 0px;
    left: 41px;
    bottom: 0px;
    width: 225px;
    border-radius: 0px;
}
#dialog.friend .dialog_content {
    top: 40px;
}
#dialog.friend .dialog_header {
    height: 33px;
    padding: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#display {
    position: absolute;
    top: 0px;
    left: 40px;
    right: 0px;
    bottom: 0px;
    display: none;
    z-index: 99;
}
.emoji {
    top: 0px;
    position: relative;
}
#click_cam {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    margin-left: -13px;
    bottom: -6px;
}
#info_camera {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
}
#arrow {
    position: absolute;
    top: -60px;
    right: 6px;
    z-index: 1000;
    opacity: 0.6;
    display: none;
}
#history_smile {
    position: absolute;
    width: 54px;
    height: 20px;
    left: 4px;
    top: 8px;
}
/*.wall_m, .friend_m, .photo_m, .video_m, .audio_m, .group_m, .notification_m, .news_m */
input[type=checkbox] {
    visibility: hidden;
}
#roundedTwos {
    width: 14px;
    height: 12px;
    background: transparent;
    position: relative;
}
#roundedTwos label {
    cursor: pointer;
    position: absolute;
    width: 9px;
    height: 5px;
    left: 0px;
    top: 0px;
    border: 3px solid #A2A2A2;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}
.wall_m label:after, .friend_m label:after, .photo_m label:after, .video_m label:after, .audio_m label:after, .group_m label:after, .notification_m label:after, .news_m label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 0px;
    left: -3px;
    border: 3px solid #B9FF00;
    border-top: none;
    border-right: none;
}
.wall_m label:hover::after, .friend_m label:hover::after, .photo_m label:hover::after, .video_m label:hover::after, .audio_m label:hover::after, .group_m label:hover::after, .notification_m label:hover::after, .news_m label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.wall_m input[type=checkbox]:checked + label:after, .friend_m input[type=checkbox]:checked + label:after, .photo_m input[type=checkbox]:checked + label:after, .video_m input[type=checkbox]:checked + label:after, .audio_m input[type=checkbox]:checked + label:after, .group_m input[type=checkbox]:checked + label:after, .notification_m input[type=checkbox]:checked + label:after, .news_m input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.wall_m {
    margin-top: 19px;
}
.friend_m, .photo_m, .video_m, .audio_m, .group_m, .notification_m, .news_m {
    margin-top: 28px;
}
#menu_menu {
    position: absolute;
    top: 40px;
    width: 36px;
    height: 317px;
    text-align: -webkit-right;
    margin-top: 0px;
    display: none;
}

div#user_list_akk {
    position: absolute;
    width: 40px;
    min-height: 40px;
    bottom: 0px;
}

div#user_list_akk > div.user_list_avatar {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    margin-bottom: 3px;
}