<!DOCTYPE html>
<html ng-app="vkinviz" ng-csp>
<head>
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/vk-inviz/ffniakoflaobbkjjcnlnmepodehaflkd">

  <link rel="stylesheet" href="css/style.css" type="text/css"></link>
  <link rel="stylesheet" href="css/alertify.core.css" />
  <link rel="stylesheet" href="css/alertify.default.css" id="toggleCSS" />
  <link rel="stylesheet" href="css/lightbox.css" type="text/css" />
  <link rel="stylesheet" href="css/dialog.css" type="text/css" />
  <link rel="stylesheet" href="css/notification.css" type="text/css" />
  <link rel="stylesheet" href="css/nprogress.css" type="text/css" />
  <script src="script/jquery-1.11.0.min.js"></script>
  <script src="script/angular.min.js"></script>
  <script src="script/nprogress.js"></script>
  <script src="script/aja.min.js"></script>
  <script src="script/emoji.js"></script>
  <script src="script/script_angular.js"></script>
  <script src="script/script.js"></script>
  <script src="script/cache_file.js"></script>
  <script src="script/alertify.js"></script>
  <script src="script/blob.js"></script>
  <script src="script/lightbox.js"></script>
  <script src="script/longpong.js"></script>
  <script src="script/notification.js"></script>
</head>

<body>
<div id="menu">
<div class="header_logo"><img src="../logo.png"></div>
<div style="position: absolute;top: 50px;">
 <div class="punkt user my_wall" title="Ваша стена"></div>
 <div class="punkt friend my_friend" title="Список друзей"></div>
 <div class="new_friend" style="display:none;"></div>
<!--  <div class="punkt photo_album"></div> -->
 <div class="punkt video_album button_video" title="Видеозаписи"></div>
 <!--<div class="punkt audio_album button_audio" title="Аудиозаписи"></div>-->
 <div class="punkt button_group" title="Группы"></div>
 <div class="punkt notification button_notification" title="Ответы(недоработано)"></div>
 <div class="punkt news button_news" title="Новости"></div>
 <div class="punkt settings" style="display:block;" title="Настройки"></div>
</div>
</div>
<div id="contente">
  <div id="search_video" ng-controller="VideoList">
    <div class="search_video">
      <div id="search_video_control">
        <input type="text" ng-model="search_input_video" class="search_input_video" placeholder="Введите поисковое слово...(Enter)" enter="FindVideo()">
        <div class="search_button_video" ng-click="FindVideo()">
          <img width="40px" src="images/search-button.png">
        </div>
      </div>
      <div id="search_video_cheked">
        <input class="video_filters" type="checkbox" style="visibility: visible;"/>Длинные видеозаписи</div>
    </div>
    <hr style="display: block;position: inherit;top: 77px;left: 2px;right: 2px;border: none;background-color: #dce2e9;height: 1px;z-index:1">
    <div class="search_video_list" ng-include="'template/videoList.html'" scrolly="VideoScroll()"></div>
  </div>

  <div id="content">

    <div id="messages_form" ng-controller="DialogList" scrolly="DialogScroll()" ng-include="'template/dialogList.html'">

    </div>

    <div id="messages">
      <div id="table"></div>
      <div class="riso"><div class="riso2">Пользователь пишет сообщение <img src="images/typing.gif"></div></div>
    </div>

    <div id="send_messages">
      <div id="arrow"><img src="images/arrow.png"></div>
      <div id="text_messages" placeholder="Введите текст и нажмите enter для отправки сообщения..." contenteditable="true"></div>
      <div id="txt_smile">
      <div id="history_smile"></div>
      <div id="open_smile"></div>
      <!--<div id="send_photo"></div>-->
      </div>
      <div id="smiles_fon"></div>
      <div id="smile"><div class="smiles"></div><div class="smile_tools"><div class="smiless tools_smile"></div><div class="smiless tools_sticker"></div></div><div class="sprite"></div></div>
    </div>

  </div>
  <div id="search_group" ng-controller="GroupList">
  	  <div id="search_group_control">
        <div id="search_group_pole"><input type="text" ng-model="search_input_group" class="search_input_group" placeholder="Введите поисковое слово...(Enter)" enter="FindGroupList()">
        </div>
        <div class="search_button_group" ng-click="FindGroupList()">
          <img width="40px" src="images/search-button.png">
        </div>
      </div>
      <hr style="display: block;position: inherit;top: 46px;left: 2px;right: 2px;border: none;background-color: #dce2e9;height: 1px;">
      <div class="group_list" ng-include="'template/groupList.html'" scrolly="GroupListScroll()"></div>
  </div>

  <div id="wall"></div>
  <div id="news"></div>

</div>
</div>
</div>

<!-- Аудиозаписи -->
  <div id="dialog_audio" class="audio">
      <div class="dialog_content"></div>
    <div class="dialog_header">
      <!-- Элементы плеера -->
  <div id="slider" style="z-index:1000"></div>
    <div id="button_player" style="position:absolute;z-index:1000">
      <div class="track_n"></div>
      <div class="track_plays"></div>
      <div class="track_w"></div>
      <div class="repeat"></div>
      <div class="list"></div>
    </div>
     <div id="find_music"><input type="text" class="search_input_music" placeholder="ПОИСК МУЗЫКИ"></div>
       <span class="name_music" style="z-index:1000"></span>
       <span class="time_music" style="z-index:1000"></span>
     <div id="scroka_time_music" style="z-index:1000">
       <div class="scroka_buffer_music"></div>
       <div class="scroka_time_music"></div>
    </div>
      <!-- Элементы плеера -->
    </div>
  </div>

 <audio id="beep">
            <source src="beep.ogg" type="audio/ogg" />
            Your browser does not support HTML5 audio.
        </audio>

   <div id="auth_form" style="display:none;">
    <button id="update_messages" style="display:none"></button>
    <button id="get_mess" style="display:none"></button>
    
  </div>
  <div id="dialog_video"></div>

<!-- Настройки -->
  <div id="dialog" class="setting">
    <div class="dialog_content">
       <div id="setup_key" style="font-size: 11px;">
        Отправка клавишей:<br>
        <input type="radio" name="keys" value="1" checked="checked"/>Enter
        <br> 
        <input type="radio" name="keys" value="2" />Ctrl+Enter
        </div>
        <div style="display:none;"><input type="checkbox" id="cache"/> Кеширование</div>
        <div id="startStena"><input type="checkbox" id="start_stena" style="visibility: visible;" /> Стена при старте приложения<br>
        <input type="checkbox" id="sound_m" style="visibility: visible;" /> Звук сообщений<br>
        <input type="checkbox" id="scroll_show" style="visibility: visible;" />  Показывать скрол</div>
        <div id="smenUser">
        <div id="new_user">Сменить пользователя</div>
        <div id="remove_no_user">Удалиться из подписчиков</div>
        </div>
        <div id="info_prog">Сайт приложения http://vkinviz.ru<br>
        Поддержать проект: Yandex.money 41001708821143
        </div>
    </div>
  </div>
<!-- Список друзей -->
  <div id="dialog" class="friend">
    <div class="dialog_sprite right_bottom"></div>
    <div class="dialog_header">
        <div class="fri" id="button_all_friend"></div>
        <div class="fri" id="button_all_friend_onlline"></div>
        <!--<div style="position: absolute;left: 86px;" class="fri" id="button_friend_remove"></div>-->
        <div id="friend_search_pole"><input type="text" placeholder="Имя или фамилия друга"></div>
    </div>
    <div class="dialog_content"></div>
  </div>
  <div id="display"></div>
  <canvas id="canvas" style="display:none;" width="640px" height="480px;"></canvas>

  <script src="script/camera.js"></script>
  <input type="hidden" id="uid_user" value="">
  <input type="hidden" id="uid_wall" value="">
  <input type="hidden" id="next_from" value="">
  <input type="hidden" id="post_id" value="">
  <input type="hidden" id="comment_wall_on" value="">
  <input type="hidden" id="histori" value="">
  <input type="hidden" id="attachments" value="">
  <input type="hidden" id="longpong" value="">
  <input type="hidden" id="my_id" value="">
  <input type="hidden" id="vkAccessToken" value="">
  <script src="script/jquery-ui.min.js"></script>
  <script src="script/notie.js"></script>
</body>
</html>